.menu {
  background-color: #F94F4F;
}
@media (max-width: 600px) {
  .menu {
    background-color: #191921;
  }
}
.menu .nav-link {
  color: #FFF;
  font-family: Commissioner;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}
.menu .nav-link:hover {
  font-weight: 700;
  cursor: pointer;
}
@media (max-width: 768px) {
  .menu .nav-link {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .menu .nav-link {
    font-size: 18px;
  }
}
.menu .nav-btn {
  background-color: #191921;
  border: none;
  color: #FFF;
  font-family: Commissioner;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.menu .nav-btn:hover {
  background-color: #434356;
  cursor: pointer;
}
@media (max-width: 600px) {
  .menu .nav-btn {
    background-color: #F94F4F;
  }
}

.hero h1 {
  color: #000;
  font-family: Commissioner;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: 88px; /* 110% */
}
@media (max-width: 768px) {
  .hero h1 {
    font-size: 56px;
    line-height: 56px; /* 100% */
  }
}
@media (max-width: 600px) {
  .hero h1 {
    font-size: 40px;
    line-height: 40px;
  }
}
.hero p {
  color: #000;
  font-family: Commissioner;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
}
@media (max-width: 768px) {
  .hero p {
    font-size: 15px;
    line-height: 25px;
  }
}
.hero .hero-btn {
  background: #F94F4F;
  border: none;
  color: #FFF;
  font-family: Commissioner;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.hero .hero-btn:hover {
  cursor: pointer;
  background-color: #FF9393;
}

.section-one .card-one {
  background: #191921;
}
.section-one .card-one .red-highlight-text, .section-one .card-one h2 {
  color: #F94F4F;
  font-family: Commissioner;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px; /* 114.286% */
}
@media (max-width: 768px) {
  .section-one .card-one .red-highlight-text, .section-one .card-one h2 {
    font-size: 32px;
    line-height: 40px;
  }
}
.section-one .card-one h2 {
  color: #FFF;
}
@media (max-width: 768px) {
  .section-one .card-one h2 {
    font-size: 32px;
    line-height: 40px; /* 125% */
  }
}
.section-one .card-one p {
  color: #FFF;
  font-family: Commissioner;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
}
@media (max-width: 768px) {
  .section-one .card-one p {
    font-size: 15px;
    line-height: 25px; /* 166.667% */
  }
}
.section-one .card-one a {
  text-decoration: none;
  color: #F94F4F;
  font-family: Commissioner;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
@media (max-width: 768px) {
  .section-one .card-one a {
    font-size: 15px;
  }
}
.section-one .card-one a:hover {
  color: #FF9393;
}
.section-one .card-one a:hover::after {
  background-color: #FF9393;
}
.section-one .card-one a::after {
  background-color: #F94F4F;
}

.section-two h3 {
  color: #000;
  font-family: Commissioner;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px; /* 114.286% */
}
@media (max-width: 768px) {
  .section-two h3 {
    font-size: 32px;
    line-height: 40px;
  }
}
@media (max-width: 600px) {
  .section-two h3 {
    color: #FFF;
  }
}
.section-two .card-two {
  background-color: #F94F4F;
}
.section-two .card-two .numbers {
  color: #FFF;
  font-family: Commissioner;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: 88px; /* 110% */
  opacity: 0.25;
}
.section-two .card-two h4 {
  color: #FFF;
  font-family: Commissioner;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px; /* 160% */
}
@media (max-width: 768px) {
  .section-two .card-two h4 {
    font-size: 15px;
    line-height: 25px;
  }
}
.section-two .card-two p {
  color: #FFF;
  font-family: Commissioner;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
}
@media (max-width: 768px) {
  .section-two .card-two p {
    font-size: 15px;
    line-height: 25px;
  }
}

.section-three .card-three {
  background-color: #191921;
}
.section-three .card-three h5 {
  color: #FFF;
  font-family: Commissioner;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px; /* 114.286% */
}
.section-three .card-three .left-arrow {
  margin-right: 16px;
}
.section-three .card-three .left-arrow:hover, .section-three .card-three .right-arrow:hover {
  cursor: pointer;
}
.section-three .card-three .left-arrow:hover circle, .section-three .card-three .left-arrow:hover path, .section-three .card-three .right-arrow:hover circle, .section-three .card-three .right-arrow:hover path {
  stroke: #FF9393;
}
.section-three .caption-title {
  color: #FFF;
  text-align: right;
  font-family: Commissioner;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px; /* 160% */
}
.section-three .caption-date {
  color: #FFF;
  text-align: right;
  font-family: Commissioner;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

header .container {
  display: flex;
  padding-left: 165px;
  gap: 409px;
  position: relative;
}
header .container .mobile-nav-icons {
  display: none;
}
@media (max-width: 768px) {
  header .container {
    gap: 130px;
    padding-left: 39px;
  }
}
@media (max-width: 600px) {
  header .container {
    height: 110px;
    padding-left: 24px;
  }
  header .container .mobile-nav-icons {
    display: inline-block;
    width: 24px;
    height: 18px;
    margin-top: 5px;
  }
  header .container .mobile-nav-icons .hamburger-icon {
    width: 24px;
    height: 18px;
    opacity: 0.5;
  }
  header .container .mobile-nav-icons .cross-icon {
    display: none;
    width: 24px;
    height: 18px;
    opacity: 0.5;
  }
}
@media (max-width: 600px) and (min-width: 450px) {
  header .container {
    gap: 50%;
  }
}
header img {
  width: 161px;
  height: 30px;
  margin-top: 76px;
}
@media (max-width: 600px) {
  header img {
    margin-top: 40px;
  }
}
header nav {
  width: 705px;
  height: 178px;
}
@media (max-width: 768px) {
  header nav {
    width: 438px;
    height: 178px;
  }
}
@media (max-width: 600px) {
  header nav {
    width: 252px;
    height: 292px;
  }
}
header nav .menu {
  display: flex;
  list-style: none;
  padding: 56px 165px 58px 69px;
}
@media (max-width: 768px) {
  header nav .menu {
    padding: 57px 40px 57px 33px;
  }
}
@media (max-width: 600px) {
  header nav .menu {
    flex-direction: column;
    position: absolute;
    padding: 32px 26px 28px 27px;
    left: 25.87%;
    right: 6.93%;
    top: 110px;
  }
}
header nav .menu .nav-link {
  display: inline-block;
  text-decoration: none;
  margin-right: 32px;
  margin-top: 17px;
}
@media (max-width: 768px) {
  header nav .menu .nav-link {
    margin-right: 20px;
  }
}
@media (max-width: 600px) {
  header nav .menu .nav-link {
    margin: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 24px;
  }
}
header nav .menu .nav-btn {
  width: 199px;
  height: 64px;
  margin-left: 17px;
}
@media (max-width: 768px) {
  header nav .menu .nav-btn {
    margin-left: 8px;
  }
}
@media (max-width: 600px) {
  header nav .menu .nav-btn {
    margin: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 24px;
  }
}

.hero .container {
  display: flex;
  position: relative;
}
@media (max-width: 600px) {
  .hero .container {
    flex-direction: column-reverse;
  }
}
.hero .desktop-hero-img {
  position: absolute;
  z-index: 0;
  right: 0;
  left: 545px;
}
@media (max-width: 768px) {
  .hero .desktop-hero-img {
    display: none;
  }
}
.hero .tablet-hero-img {
  display: none;
}
@media (max-width: 768px) {
  .hero .tablet-hero-img {
    display: inline-block;
    position: absolute;
    left: 330px;
  }
}
@media (max-width: 600px) {
  .hero .tablet-hero-img {
    display: none;
  }
}
.hero .mobile-hero-img {
  display: none;
}
@media (max-width: 600px) {
  .hero .mobile-hero-img {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
  }
}
.hero .text-content {
  position: absolute;
  z-index: 1;
  left: 165px;
  top: 112px;
  right: 545px;
}
@media (max-width: 768px) {
  .hero .text-content {
    top: 77px;
    left: 39px;
  }
}
@media (max-width: 600px) {
  .hero .text-content {
    position: static;
    margin-top: 256px;
    margin-left: 24px;
  }
}
@media (max-width: 600px) and (min-width: 450px) {
  .hero .text-content {
    margin-top: 330px;
  }
}
.hero .text-content h1 {
  width: 730px;
  margin-bottom: 39px;
}
@media (max-width: 768px) {
  .hero .text-content h1 {
    width: 398px;
    height: 181px;
    margin-bottom: 19px;
  }
}
@media (max-width: 600px) {
  .hero .text-content h1 {
    width: 327px;
    height: auto;
    margin-bottom: 15px;
  }
}
@media (max-width: 600px) and (min-width: 450px) {
  .hero .text-content h1 {
    width: 450px;
    margin-bottom: 35px;
  }
}
.hero .text-content p {
  width: 540px;
  margin-bottom: 48px;
}
@media (max-width: 768px) {
  .hero .text-content p {
    width: 398px;
    margin-bottom: 32px;
  }
}
@media (max-width: 600px) {
  .hero .text-content p {
    width: 327px;
  }
}
@media (max-width: 600px) and (min-width: 500px) {
  .hero .text-content p {
    width: 450px;
  }
}
.hero .text-content .hero-btn {
  width: 177px;
  height: 72px;
}

.section-one .container {
  display: flex;
  margin-top: 800px;
  position: relative;
}
@media (max-width: 768px) {
  .section-one .container {
    margin-top: 606px;
  }
}
@media (max-width: 600px) {
  .section-one .container {
    flex-direction: column;
    margin-top: 121px;
  }
}
.section-one .card-one {
  padding: 200px 141px 200px 154px;
  width: 705px;
  flex-shrink: 0;
  height: 784px;
}
@media (max-width: 768px) {
  .section-one .card-one {
    width: 390px;
    height: 538px;
    padding: 120px 40px 120px 69px;
  }
}
@media (max-width: 600px) {
  .section-one .card-one {
    width: 100%;
    height: 377px;
    flex-shrink: 0;
    padding: 72px 24px 72px 24px;
  }
}
@media (max-width: 326px) {
  .section-one .card-one {
    height: auto;
  }
}
@media (max-width: 768px) {
  .section-one .section-one-img {
    display: none;
  }
}
.section-one .section-one-tablet-img {
  display: none;
}
@media (max-width: 768px) {
  .section-one .section-one-tablet-img {
    width: 378px;
    height: 658px;
    display: inline-block;
  }
}
@media (max-width: 600px) {
  .section-one .section-one-tablet-img {
    display: none;
  }
}
.section-one .section-one-mobile-img {
  display: none;
}
@media (max-width: 600px) {
  .section-one .section-one-mobile-img {
    display: inline-block;
    width: 100%;
    height: auto;
  }
}
.section-one h2 {
  margin-bottom: 43px;
}
@media (max-width: 768px) {
  .section-one h2 {
    margin-bottom: 32px;
  }
}
.section-one p {
  margin-bottom: 48px;
}
@media (max-width: 768px) {
  .section-one p {
    margin-bottom: 32px;
  }
}
.section-one a {
  position: relative;
}
.section-one a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 2px;
}
.section-one .wavy-red-pattern {
  position: absolute;
  top: 234px;
  right: 637px;
  left: 668px;
  bottom: 489px;
}
@media (max-width: 768px) {
  .section-one .wavy-red-pattern {
    width: 63px;
    height: 29px;
    top: 145px;
    right: 359px;
    left: 346px;
    bottom: 484px;
  }
}
@media (max-width: 600px) {
  .section-one .wavy-red-pattern {
    position: static;
    margin-top: -392px;
    margin-left: 24px;
  }
}

.section-two .container {
  display: flex;
  flex-shrink: 0;
  position: relative;
}
@media (max-width: 600px) {
  .section-two .container {
    flex-direction: column;
  }
}
.section-two h3 {
  z-index: 1;
  margin-left: 165px;
  margin-top: 200px;
  width: 540px;
}
@media (max-width: 768px) {
  .section-two h3 {
    width: 281px;
    margin-top: 126px;
    margin-left: 39px;
  }
}
@media (max-width: 600px) {
  .section-two h3 {
    margin: 0;
    padding: 0;
    margin-left: 24px;
    margin-top: 459px;
  }
}
.section-two .card-two {
  padding: 200px 106px 144px 285px;
  flex-shrink: 0;
  position: absolute;
  top: -200px;
  left: 545px;
}
@media (max-width: 768px) {
  .section-two .card-two {
    padding: 120px 40px 120px 43px;
    left: 330px;
    top: -120px;
  }
}
@media (max-width: 600px) {
  .section-two .card-two {
    width: 100%;
    padding: 265px 24px 96px 24px;
    left: 0;
    top: 363px;
  }
}
.section-two .card-two .content {
  width: 504px;
  height: 196px;
  padding-left: 59px;
  flex-shrink: 0;
  margin-bottom: 56px;
}
@media (max-width: 768px) {
  .section-two .card-two .content {
    width: 355px;
    height: 159px;
    flex-shrink: 0;
    margin-bottom: 40px;
  }
}
@media (max-width: 600px) {
  .section-two .card-two .content {
    width: 327px;
    height: 159px;
    flex-shrink: 0;
  }
}
.section-two .card-two .content h4 {
  margin-top: -44px;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .section-two .card-two .content h4 {
    margin-bottom: 15px;
    margin-left: -43px;
  }
}
@media (max-width: 768px) {
  .section-two .card-two .content p {
    margin-left: -43px;
  }
}
.section-two .card-two .content .numbers {
  margin-left: -59px;
}

.section-three .container {
  margin-top: 508px;
  display: flex;
  position: relative;
}
.section-three .container .card-three {
  width: 735px;
  height: 528px;
  flex-shrink: 0;
  position: absolute;
  z-index: 1;
  padding: 152px 125px 152px 165px;
}
.section-three .container .card-three h5 {
  width: 445px;
  height: 133px;
  flex-shrink: 0;
  margin-bottom: 51px;
}
.section-three .container .slide-one-img {
  position: absolute;
  z-index: -1;
  left: 545px;
}
.section-three .container .caption {
  opacity: 0.75;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  width: 895px;
  height: 200px;
  flex-shrink: 0;
  position: absolute;
  z-index: 0;
  top: 528px;
  left: 545px;
  padding: 68px 154px 68px 525px;
}
.section-three .container .caption .caption-content {
  width: 215px;
  height: 64px;
}
.section-three .container .wavy-white-img {
  position: absolute;
  z-index: 2;
  top: 186px;
  left: 668px;
  right: 638px;
  bottom: 482px;
}