.section-one .container {
  display: flex;
  margin-top: 800px;
  position: relative;
}
@media (max-width: 768px) {
  .section-one .container {
    margin-top: 606px;
  }
}
@media (max-width: 600px) {
  .section-one .container {
    flex-direction: column;
    margin-top: 121px;
  }
}
.section-one .card-one {
  padding: 200px 141px 200px 154px;
  width: 705px;
  flex-shrink: 0;
  height: 784px;
}
@media (max-width: 768px) {
  .section-one .card-one {
    width: 390px;
    height: 538px;
    padding: 120px 40px 120px 69px;
  }
}
@media (max-width: 600px) {
  .section-one .card-one {
    width: 100%;
    height: 377px;
    flex-shrink: 0;
    padding: 72px 24px 72px 24px;
  }
}
@media (max-width: 326px) {
  .section-one .card-one {
    height: auto;
  }
}
@media (max-width: 768px) {
  .section-one .section-one-img {
    display: none;
  }
}
.section-one .section-one-tablet-img {
  display: none;
}
@media (max-width: 768px) {
  .section-one .section-one-tablet-img {
    width: 378px;
    height: 658px;
    display: inline-block;
  }
}
@media (max-width: 600px) {
  .section-one .section-one-tablet-img {
    display: none;
  }
}
.section-one .section-one-mobile-img {
  display: none;
}
@media (max-width: 600px) {
  .section-one .section-one-mobile-img {
    display: inline-block;
    width: 100%;
    height: auto;
  }
}
.section-one h2 {
  margin-bottom: 43px;
}
@media (max-width: 768px) {
  .section-one h2 {
    margin-bottom: 32px;
  }
}
.section-one p {
  margin-bottom: 48px;
}
@media (max-width: 768px) {
  .section-one p {
    margin-bottom: 32px;
  }
}
.section-one a {
  position: relative;
}
.section-one a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 2px;
}
.section-one .wavy-red-pattern {
  position: absolute;
  top: 234px;
  right: 637px;
  left: 668px;
  bottom: 489px;
}
@media (max-width: 768px) {
  .section-one .wavy-red-pattern {
    width: 63px;
    height: 29px;
    top: 145px;
    right: 359px;
    left: 346px;
    bottom: 484px;
  }
}
@media (max-width: 600px) {
  .section-one .wavy-red-pattern {
    position: static;
    margin-top: -392px;
    margin-left: 24px;
  }
}

.section-two .container {
  display: flex;
  flex-shrink: 0;
  position: relative;
}
@media (max-width: 600px) {
  .section-two .container {
    flex-direction: column;
  }
}
.section-two h3 {
  z-index: 1;
  margin-left: 165px;
  margin-top: 200px;
  width: 540px;
}
@media (max-width: 768px) {
  .section-two h3 {
    width: 281px;
    margin-top: 126px;
    margin-left: 39px;
  }
}
@media (max-width: 600px) {
  .section-two h3 {
    margin: 0;
    padding: 0;
    margin-left: 24px;
    margin-top: 459px;
  }
}
.section-two .card-two {
  padding: 200px 106px 144px 285px;
  flex-shrink: 0;
  position: absolute;
  top: -200px;
  left: 545px;
}
@media (max-width: 768px) {
  .section-two .card-two {
    padding: 120px 40px 120px 43px;
    left: 330px;
    top: -120px;
  }
}
@media (max-width: 600px) {
  .section-two .card-two {
    width: 100%;
    padding: 265px 24px 96px 24px;
    left: 0;
    top: 363px;
  }
}
.section-two .card-two .content {
  width: 504px;
  height: 196px;
  padding-left: 59px;
  flex-shrink: 0;
  margin-bottom: 56px;
}
@media (max-width: 768px) {
  .section-two .card-two .content {
    width: 355px;
    height: 159px;
    flex-shrink: 0;
    margin-bottom: 40px;
  }
}
@media (max-width: 600px) {
  .section-two .card-two .content {
    width: 327px;
    height: 159px;
    flex-shrink: 0;
  }
}
.section-two .card-two .content h4 {
  margin-top: -44px;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .section-two .card-two .content h4 {
    margin-bottom: 15px;
    margin-left: -43px;
  }
}
@media (max-width: 768px) {
  .section-two .card-two .content p {
    margin-left: -43px;
  }
}
.section-two .card-two .content .numbers {
  margin-left: -59px;
}

.section-three .container {
  margin-top: 508px;
  display: flex;
  position: relative;
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .section-three .container {
    margin-top: 470px;
  }
}
@media (max-width: 600px) {
  .section-three .container {
    flex-direction: column-reverse;
    margin-top: 700px;
    height: 100%;
  }
}
.section-three .container .card-three {
  width: 735px;
  height: 528px;
  flex-shrink: 0;
  position: absolute;
  z-index: 1;
  padding: 152px 125px 152px 165px;
}
@media (max-width: 768px) {
  .section-three .container .card-three {
    width: 390px;
    height: 352px;
    padding: 100px 70px 100px 39px;
  }
}
@media (max-width: 768px) and (max-width: 600px) {
  .section-three .container .card-three {
    width: 100%;
    height: 272px;
    top: 404px;
    padding: 64px 24px;
  }
}
.section-three .container .card-three h5 {
  width: 445px;
  height: 133px;
  flex-shrink: 0;
  margin-bottom: 51px;
}
@media (max-width: 768px) {
  .section-three .container .card-three h5 {
    width: 281px;
    height: 80px;
    margin-bottom: 32px;
  }
}
@media (max-width: 600px) {
  .section-three .container .card-three h5 {
    margin-bottom: 24px;
  }
}
.section-three .container .slide-one-img-desktop {
  position: absolute;
  z-index: -1;
  left: 545px;
}
@media (max-width: 768px) {
  .section-three .container .slide-one-img-desktop {
    display: none;
  }
}
.section-three .container .slide-one-img-tablet {
  display: none;
}
@media (max-width: 768px) {
  .section-three .container .slide-one-img-tablet {
    display: inline-block;
    position: absolute;
    z-index: -1;
    left: 330px;
  }
}
@media (max-width: 600px) {
  .section-three .container .slide-one-img-tablet {
    display: none;
  }
}
.section-three .container .slide-one-img-mobile {
  display: none;
}
@media (max-width: 600px) {
  .section-three .container .slide-one-img-mobile {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: auto;
    min-height: 405px;
  }
}
.section-three .container .caption {
  opacity: 0.75;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  width: 895px;
  height: 200px;
  flex-shrink: 0;
  position: absolute;
  z-index: 0;
  top: 528px;
  left: 545px;
  padding: 68px 154px 68px 525px;
}
@media (max-width: 768px) {
  .section-three .container .caption {
    width: 438px;
    height: 130px;
    padding: 45px 40px 45px 236px;
    top: 345px;
    left: 330px;
  }
}
@media (max-width: 600px) {
  .section-three .container .caption {
    width: 100%;
    height: 111px;
    padding: 36px 32px 35px 48.27%;
    top: 293px;
    left: 0;
  }
}
.section-three .container .caption .caption-content {
  width: 215px;
  height: 64px;
}
@media (max-width: 768px) {
  .section-three .container .caption .caption-content {
    width: 161px;
    height: 40px;
  }
}
.section-three .container .wavy-white-img {
  position: absolute;
  z-index: 2;
  top: 186px;
  left: 668px;
  right: 638px;
  bottom: 482px;
}
@media (max-width: 768px) {
  .section-three .container .wavy-white-img {
    width: 62.533px;
    height: 28.525px;
    flex-shrink: 0;
    top: 126px;
    left: 359px;
    transform: rotateY(180deg);
  }
}
@media (max-width: 600px) {
  .section-three .container .wavy-white-img {
    display: none;
  }
}