.menu{
    background-color:#F94F4F;

    @media (max-width : 600px){
        background-color: #191921;
    }
    .nav-link{
        color: #FFF;
        font-family: Commissioner;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 200% */

        &:hover{
            font-weight: 700;
            cursor: pointer;
        }

        @media (max-width : 768px){
            font-size: 15px;
        }
        @media (max-width : 600px){
            font-size: 18px;
        }
    }
    .nav-btn{
        background-color : #191921;
        border : none;
        //tyopgraphy bellow
        color: #FFF;
        font-family: Commissioner;
        font-size: 16px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;

        &:hover{
            background-color : #434356;
            cursor: pointer;
        }

        @media(max-width : 600px){
            background-color: #F94F4F;
        }
    }
 
}

.hero{
    h1{
        color: #000;
        font-family: Commissioner;
        font-size: 80px;
        font-style: normal;
        font-weight: 800;
        line-height: 88px; /* 110% */
        // overflow: hidden;     /* Hide any overflowed text */
        // text-overflow: ellipsis;
        @media(max-width : 768px){
            font-size: 56px;
            line-height: 56px; /* 100% */
        }
        @media(max-width : 600px){
            font-size: 40px;
            line-height: 40px; 
        }
    }
    p{
        color: #000;
        font-family: Commissioner;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 177.778% */

        @media(max-width : 768px){
            font-size: 15px;
            line-height: 25px; 
        }
    }
    .hero-btn{
        background: #F94F4F;
        border : none;
        color: #FFF;
        font-family: Commissioner;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;

        &:hover{
            cursor : pointer;
            background-color: #FF9393;
        }
    }
}

.section-one{
    .card-one{
        background: #191921;
       
        .red-highlight-text{
            color: #F94F4F;
            font-family: Commissioner;
            font-size: 56px;
            font-style: normal;
            font-weight: 800;
            line-height: 64px; /* 114.286% */
            @media(max-width : 768px){
                font-size: 32px;
                line-height: 40px;
            }
        }
        h2{
            @extend .red-highlight-text;
            color : #FFF;
            @media(max-width : 768px){
                font-size: 32px;
                line-height: 40px; /* 125% */
            }
        
        }

        p{
            color: #FFF;
            font-family: Commissioner;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 177.778% */
            
            @media(max-width : 768px){
                font-size: 15px;
                line-height: 25px; /* 166.667% */
            }
        }
    
    
        a{
            text-decoration: none;
            color: #F94F4F;
            font-family: Commissioner;
            font-size: 18px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;

            @media(max-width : 768px){
                font-size: 15px;
            }

            &:hover{
                color: #FF9393;
            }
            &:hover::after{
                background-color: #FF9393;
            }
            }
        
            a::after{
                background-color: #F94F4F;
            }
            
        }
    
}

.section-two{
    h3{
        color: #000;
        font-family: Commissioner;
        font-size: 56px;
        font-style: normal;
        font-weight: 800;
        line-height: 64px; /* 114.286% */

        @media(max-width : 768px){
            font-size: 32px;
            line-height: 40px;
        }
        @media(max-width : 600px){
            color :#FFF;
        }
    }
    .card-two{
        background-color: #F94F4F;
        .numbers{
            color: #FFF;
            font-family: Commissioner;
            font-size: 80px;
            font-style: normal;
            font-weight: 800;
            line-height: 88px; /* 110% */
            opacity: 0.25;

        }
        h4{
            color: #FFF;
            font-family: Commissioner;
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
            line-height: 32px; /* 160% */
            
            @media(max-width : 768px){
                font-size: 15px;
                line-height: 25px;
            }
        }
        p{
            color: #FFF;
            font-family: Commissioner;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 177.778% */

            @media(max-width : 768px){
                font-size: 15px;
                line-height: 25px;
            }
        }
    }
}

.section-three{
    .card-three{
        background-color: #191921;
        
        h5{
            color: #FFF;
            font-family: Commissioner;
            font-size: 56px;
            font-style: normal;
            font-weight: 800;
            line-height: 64px; /* 114.286% */

            @media(max-width : 768px){
                font-size: 32px;
                line-height: 40px;
            }
        }
        .left-arrow{
            margin-right: 16px;
        }
        
        .left-arrow:hover, .right-arrow:hover{
            cursor: pointer;
            circle,path{
                stroke: #FF9393;
            }
        }
    }
        
    
    .caption-title{
        color: #FFF;
        text-align: right;
        font-family: Commissioner;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: 32px; /* 160% */

        @media(max-width : 768px){
            font-size: 15px;
            line-height: 20px;
        }
    }
    .caption-date{
        color: #FFF;
        text-align: right;
        font-family: Commissioner;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 177.778% */

        @media(max-width : 768px){
            font-size: 15px;
            line-height: 20px;
        }
    }
}